body{
    background-color: antiquewhite;
}
#container{
    
padding: 0.5px;
   overflow: hidden;
}
#header{
    
    text-align: center;
    font-size: larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
    background: rgb(39, 236, 193);
}
#nav{
    height: 40px;
    background: darkcyan;
   
}
#nav ul{
    list-style-type: none;
    
    padding: 5px;
    overflow: hidden;
  
}
#nav a{
    display: block;
    color: white;
    text-align: center;
    padding: 7px;
    text-decoration: none;
  }
#nav li{
    float: left;
}
#nav p{
    color: white;
    text-align: right;
    
}
#main{
    padding: 5px;

}
#img a{
    float: left;
    height: 10%;
    width: 33%;
}
#footer{
    font-size: 18px;
    padding: 1em;
    color: white;
    background-color:darkcyan;
    text-align: center;
    vertical-align:bottom;
	width: 100%;
	margin: auto;
    overflow: hidden;
}
#contact{
    float: left;
    width: 45%;
    background-color: beige;
   
}
#vision{
    float: right;
    width: 55%;
    
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(63, 255, 136);
}

#clear{
    clear: both;
}
#leadership{
    float: center;
    padding: 40px;
    height: 300px;
    width: 100%;
}
#aboutus{
    float: left;
    padding: 40px;
    height: 300px;
    width: 100%;
}
#products{
    float: right;
    padding: 40px;
    height: 300px;
    width: 84%;
}
.srch-btn .button{
     background-color: #263240; 
    border: 1px solid #263240;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    width: 200px;
    display: block;
}
#heading {
    font-weight: bold;
    font-style: italic;
    font-size: xx-large
}
.AD_product_input input{
	width: 20%;
	padding: 10px 15px;
	margin: 2px 0;
	box-sizing: border-box;
	border-radius: 10px;	
	position: relative;
}	
.AD_product_input button{
	font-size: 18px;
	border-radius: 5px;
	border: 3px solid white;
	width: 8%;	
	position: absolute;
	right: 1380px;
	top: 440px;
}
.AD_product_input:hover button{
	cursor:pointer;
}
.AD_product_input1 button{
	font-size: 18px;
	border-radius: 5px;
	border: 3px solid white;
	width: 8%;	
	position: absolute;
	right: 1370px;
	top: 230px;
}
.AD_product_input1:hover button{
	cursor:pointer;
}
